body {
  color: #40414E;
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

hr {
  margin-top: 50px;
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 8%;
}

h1 {
  color: #444444;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 5.625rem;
}

h2 {
  color: #66BFBF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
}

h3 {
  color: #11999E;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/******************************************************CLASSES******************************************************/
.top-container {
  background-color: #C8E6F5;
  display: block;
  overflow: hidden;
  position: relative;
  padding-top: 80px;
}

.middle-container {
  background-color: #F1F1F1;
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 30px;
}

.bottom-container {
  background-color: #66BFBF;
  display: block;
  overflow: hidden;
  position: relative;
}

.font-top-paragraph {
  font-size: 2.1rem;
  font-weight: normal;
  line-height: 2;
  width: 55%;
  margin: auto;
}

.mountain {
  margin: auto;
  height: 530px;
  position: relative;
  top: 20px;
}

.top-cloud {
  height: 150px;
  position: absolute;
  top: 330px;
  right: 120px;
}

.bottom-cloud {
  height: 200px;
  position: absolute;
  top: 380px;
  left: 120px;
}

.profile-picture {
  height: 300px;
  border-radius: 15%;
  margin: 20px auto;
}

.h2-spacing {
  margin: 50px auto;
}

.icons-skills {
  margin: 50px auto;
}

.python {
  height: 50px;
}

.javascript {
  height: 50px;
}

.html-5 {
  height: 50px;
}

.css-3 {
  height: 50px;
}

.hobbies {
  margin: auto auto;
}

.hobby-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.diy-electronics {
  width: 25%;
  border-radius: 15%;
  float: left;
  margin-right: 30px;
}

.traveling {
  width: 25%;
  border-radius: 15%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  color: #444444;
  margin: 0 0 30px 0;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.linkedin-icon {
  height: 30px;
  width: 30px;
}

.instagram-icon {
  height: 30px;
  width: 30px;
}

.linkedin-icon:hover {
  position: relative;
  top: -3px;
  left: -3px;
  width: 36px;
  height: 36px;
  display: block;
  z-index: 999;
}

.instagram-icon:hover {
  position: relative;
  top: -3px;
  left: -3px;
  width: 36px;
  height: 36px;
  display: block;
  z-index: 999;
}

.icons-skills {
  margin: auto auto;
}

.icons-insta-linkedin {
  margin: auto auto;
}

.spacing-td {
  padding: 10px 25px;
}

.signature {
  color: #F1F1F1;
  font-size: 1rem;
  margin-bottom: 30px;
}
